playwright==1.54.0
customtkinter==5.2.2
pillow==11.3.0
requests==2.32.4
pandas==2.3.1
openpyxl==3.1.5
beautifulsoup4==4.13.4
lxml==6.0.0
fake-useragent==2.2.0
tqdm==4.67.1
pyinstaller==6.15.0
